---
layout: default
---

<div id="index" class="row">
  <div class="col-sm-9" style="margin: 0 auto; float: none">
    <div class="post-area ">
      <div class="post-list-item intro-item">
        <h2> {{ page.titulo }} </h2>
        <h4> {{ content }} </h4>
      </div>
    </div>

    <div class="post-list-body">
      <div class="all-posts" post-cate="All">
        {% for post in site.posts %}
          {% if post.categories contains 'projeto' %}
            <div class="post-area ">
              <a class="post-list-item post-list-item-link" href="{{ post.link | prepend: site.baseurl }}">
                <h2> {{ post.titulo }} </h2>
                <h2> {{ post.proponente }} </h2>
                <div class="cover-container" style="height: 300px; overflow: hidden; position:relative;">
                  <img src="{{ post.imagem | prepend: site.baseurl }}" style="width: 100%; position: absolute; top: -100%; bottom: -100%; left: 0; right: 0; margin: auto;">
                </div>
                <h4> {{ post.content }} </h4>
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <div class="post-area ">
	  <div class="post-list-header">
	  Participantes
	  </div>
      <div class="post-list-body">
        <div class="all-posts" post-cate="All">
          {% assign sorted_posts = site.posts | sort:"nome" %}
          {% for post in sorted_posts %}
            {% if post.categories contains 'pessoa' %}
              <a class="post-list-item post-list-item-link" href="{{ post.url | prepend: site.baseurl }}">
                <h2> {{ post.nome }} </h2>
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
