---
layout: default
---
<div class="row">

  <div id="myArticle" class="col-sm-9">
    <div class="post-area post">
      <header>
        {% if page.categories and page.titulo %}
        <p>
          <a href="{{ site.baseurl }}/">Interactivos?'16</a> ▶ <a href="{{ site.baseurl }}/{{ page.categories }}">{{ page.categories }}</a>
        </p>
        {% endif %}
        {% if page.nome %}
        <h1>{{ page.nome }}</h1>
        {% endif %}
        {% if page.titulo %}
        <h1>{{ page.titulo }}</h1>
        {% endif %}
      </header>
      <hr>
      <article>
        {{content}}
      </article>
      <hr>
      {% if page.categories and page.titulo %}
      <p>
        <a href="/">Interactivos?'16</a> ▶ <a href="/{{ page.categories }}">{{ page.categories }}</a> ▶ <a href=" {{ page.url }}#main">{{ page.titulo }}</a>
      </p>
      {% endif %}
    </div>
  </div>
</div>